@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    background: #edeef0;

}

/* headings */
h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.8em;
}


p {
    font-size: 1.5em;
}


/* Navigator bar */
/* Note: nav>ul will apply the properties to the immediate element */
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav ul li {
    margin: 0 20px;
}

.logo-text {
    font-size: 3em;
    font-weight: 700;
    color: #f05136;
}

.nav-link {
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-link:hover {
    color: #f05136;
}

/* Buttons */
.link-button {
    text-decoration: none;
    text-align: center;
    background-color: #f05136;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 0.5px;
    color: white;
    font-size: 1.8em;
    padding: 10px;
    border-radius: 5%;
    border-color: black;
}

.link-button:hover {
    color: white;
}

/* Header section */
header div p {
    font-size: 2.5em;
    font-weight: 200;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    height: 450px;

}

/* Bio section */
#bio {
    display: flex;
    align-items: center;

}

#bio img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 100px;
}

#bio article * {
    margin: 20px;
}

.break {
    display: block;
}

/* Portfolio section */
#portfolio {
    background: url("./assets/portfolio-background.svg");
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#portfolio,
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#portfolio div {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 100%;
}

#portfolio h3,
p,
hr {
    margin-bottom: 20px;
}

hr {
    width: 400px;
}

#portfolio div article {
    background-color: white;
    color: black;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}

#portfolio div article p {
    padding: 0 5px;

}

/* Skills section */
#skills-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#skills-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills ul {
    list-style: none;
}

#skills ul li {
    margin: 10px 0;
}

progress[value] {
    height: 10px;
    width: 350px;
    -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: grey;
    border-radius: 2px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.25 inset);
}

::-webkit-progress-value {
    background-color: #f05136;
}

#skills ul {
    font-size: 1.5em;
}

/* Footer section */
#contact {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact form input:last-child {
    margin-top: 30px;
}


.input {
    line-height: 2em;
    width: 350px;
    border-radius: 3px;
    border-color: black;
    margin: 20px 0;
}


/* logo text
nav-link text
smaller header text
larger header text (h1)
bio heading (h2)
portfolio,skills,contact (h3)
personal blog,tic tac toe,.... (h4)
regular text */